/* Global Styles */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
  }
  
  /* Main Content */
  main {
    flex: 1 0 auto;
    padding: 2rem;
  }
  
  /* Navbar */
  nav {
    background-color: #1565c0; 
  }
  
  nav .brand-logo {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  nav .sidenav-trigger {
    color: #fff;
  }
  
  nav ul li a {
    color: #fff;
    font-weight: 500;
  }
  
  nav ul li a:hover {
    background-color: #0d47a1; 
  }

  /** Card style **/

  .card-action {
    display: flex;
    justify-content: center;
  }
  
  .btn-margin-right {
    margin-right: 10px;
  }
  
  /* Footer */
  footer.page-footer {
    background-color: #1565c0; 
    padding-top: 2rem;
  }
  
  footer .footer-copyright {
    background-color: #0d47a1; 
  }
  
  footer h5 {
    font-weight: 500;
  }
  
  footer p,
  footer ul li a {
    color: #e0e0e0;
  }
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    nav .brand-logo {
      font-size: 1.2rem;
    }
  }